<div class="card">
    {% load static %}
    <img class="card-img-top survey-about-img" src="{% static 'img/chatgpt.png' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Ushbu ilova haqida</h5>
        <p class="card-text">Bu django ramkasi yordamida yaratilgan so'rov ilovasi Ushbu ilovada foydalanuvchilar
            administrator tomonidan yaratilgan so'rovnomalarda qatnashishi mumkin. Har bir so'rov qisqa anketadan
            iborat. Shu bilan birga qiziqarli. So'rovnomadagi har bir ishtirok qayd qilinadi va administrator har bir
            so'rovnoma uchun ishtirokchilar sonini kuzatishi mumkin va eng yuqori ishtirok etgan so'rovnoma haqida
            xabardor qilinadi. Shuningdek, Chartjs yordamida berilgan diagramma vizualizatsiyasi bilan so'rovnomada har
            bir savol bo'yicha statistikani ko'rishingiz mumkin.</p>
    </div>
</div>